* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1180px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1180px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1180px;
}

body .top-header {
  position: sticky;
  top: -40px;
  left: 0;
  right: 0;
  z-index: 98;
  height: 40px;
  flex-shrink: 0;
  background-color: #939878;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .top-header h1 {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  padding: 0px 598px 0px 569px;
}

body header {
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
  padding-top: 28px;
  padding-bottom: 28px;
  position: sticky;
  left: 0;
  right: 0;
  top: -15px;
  z-index: 2;
}

body header .container .navbar {
  position: sticky;
  top: 50px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body header .container .navbar .nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

body header .container .navbar .nav-links .nav-link a {
  color: #000000;
  /* Text link */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  transition: all 0.5s ease;
}

body header .container .navbar .nav-links .nav-link a:hover {
  color: rgb(140, 140, 140);
  transition: all 0.4s ease;
}

body header .container .navbar .nav-links .nav-link:nth-child(2) a img {
  padding-left: 9px;
}

body header .container .navbar .nav-links .nav-link:nth-child(5) a {
  display: flex;
  align-items: center;
}

body header .container .navbar .nav-links .nav-link:nth-child(5) a img {
  padding-right: 9px;
}

body header .container .navbar .nav-links .nav-link:nth-child(6) a {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  padding: 9px 21px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

body header .container .navbar .nav-links .nav-link:nth-child(6) a img {
  padding-right: 9px;
}

body header .container .navbar .nav-links .nav-link:nth-child(6):hover a {
  border: 1px solid #777876;
  background: #bcb8b8;
}

body header .container .navbar .nav-links .nav-link:nth-child(7) a {
  padding: 9px 21px;
  width: 159px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #cf6f49;
  color: white;
  background: #cf6f49;
  transition: all 0.3s ease;
}

body header .container .navbar .nav-links .nav-link:nth-child(7):hover a {
  border: 1px solid #cf6f49;
  color: rgb(128, 127, 127);
  background: #ffffff;
}

body header .container .navbar .menu {
  display: none;
}

@media (max-width: 900px) {
  body header .container .navbar .nav-links {
    display: none;
  }
  body header .container .navbar .menu {
    display: block;
  }
}
@media (max-width: 365px) {
  body .top-header h1 {
    padding: 0px 34px 0px 46px;
  }
}
body footer {
  margin-top: 40px;
}

body footer .container .footer-content {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 95px;
}

body footer .container .footer-content .f-right {
  display: flex;
  flex-direction: row;
  gap: 140px;
}

body footer .container .footer-content .f-right ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

body footer .container .footer-content .f-right ul li {
  list-style-type: none;
}

body footer .container .footer-content .f-right ul li a {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

body footer .container .footer-content .f-sub-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
}

body footer .container .footer-content .f-sub-right h3 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

body footer .container .footer-content .f-sub-right h4 {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

body footer .container .footer-content .f-sub-right .ffg {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

body footer .container .footer-content .f-sub-right .ffg .iinput {
  padding-left: 14px;
  width: 241px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

body footer .container .footer-content .f-sub-right .ffg a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 127px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
}

body footer .container .footer-content .f-sub-right .ggff {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  color: #65665c;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

body .bottom {
  background-color: #f5f5f2;
  padding-top: 28px;
  padding-bottom: 28px;
}

body .bottom .bottom-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body .bottom .bottom-content .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 42px;
}

body .bottom .bottom-content .logo .p5 {
  color: #65665c;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

body .bottom .bottom-content .icons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

@media (max-width: 762px) {
  body footer .container .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  body footer .container .footer-content .f-left {
    text-align: center;
  }
}
@media (max-width: 511px) {
  body footer .container .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  body footer .container .footer-content .f-left {
    text-align: center;
  }
  body footer .container .footer-content .f-left .p1 {
    font-size: 24px;
  }
  body footer .container .footer-content .f-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  body .bottom .bottom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 267px) {
  footer {
    display: none;
  }
  .bottom {
    display: none;
  }
}
main .home-page {
  display: flex;
  justify-content: center;
  background-color: #e7e8e3;
}

main .home-page .container .home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

main .home-page .container .home-content .home-item:first-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main .home-page .container .home-content .home-item:first-child p {
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  border-radius: 32px;
  background: #babab6;
  width: 171px;
  height: 29px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .home-page .container .home-content .home-item:first-child h1 {
  color: #000000;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 67.2px; /* 120% */
}

main .home-page .container .home-content .home-item:first-child h4 {
  color: #65665c;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

main .home-page .container .home-content .home-item:first-child .dd {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

main .home-page .container .home-content .home-item:first-child .dd img {
  position: absolute;
  margin: 12px 16px;
}

main .home-page .container .home-content .home-item:first-child .dd .input {
  width: 260px;
  height: 48px;
  flex-shrink: 0;
  padding: 9px 92px 9px 56px;
  outline: none;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  color: #65665c;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  transition: all 0.4s ease;
}

main .home-page .container .home-content .home-item:first-child .dd a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  width: 154px;
  height: 50px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
}

main .home-page .container .home-content .home-item:first-child .dd a:hover {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.38);
}

main .home-page .container .home-content .home-item:last-child img {
  width: 720px;
  height: 686px;
  flex-shrink: 0;
}

main .media-page .container .media-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 67px;
  margin-bottom: 125px;
}

main .media-page .container .media-content .media-item:first-child {
  width: 243px;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

main .media-page .container .media-content .media-item:last-child {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}

main .works .work-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

main .works .work-info h1 {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}

main .works .work-info p {
  color: #65665c;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  width: 754px;
  text-align: center;
}

main .works .work-content {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  flex-direction: row;
}

main .works .work-content .work-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  width: 405px;
  height: 291px;
  flex-shrink: 0;
}

main .works .work-content .work-item h3 {
  width: 161px;
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 140% */
}

main .works .work-content .work-item p {
  width: 338px;
  color: #65665c;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

main .comfort .home-content {
  margin-top: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

main .comfort .home-content .home-item:first-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main .comfort .home-content .home-item:first-child p {
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  border-radius: 32px;
  background: #babab6;
  width: 171px;
  height: 29px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .comfort .home-content .home-item:first-child h1 {
  width: 453px;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}

main .comfort .home-content .home-item:first-child h4 {
  width: 520px;
  color: #65665c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

main .comfort .home-content .home-item:first-child .dd {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

main .comfort .home-content .home-item:first-child .dd a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 50px;
  border-radius: 6px;
  color: #000000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  transition: all 0.4s ease;
}

main .comfort .home-content .home-item:first-child .dd a:last-child:hover {
  color: #ffffff;
  background-color: #cf6f49;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

main .comfort .home-content .home-item:first-child .dd a:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
}

main .comfort .home-content .home-item:first-child .dd a:first-child:hover {
  transition: all 0.4s ease;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.28);
}

main .comfort .home-content .home-item:last-child img {
  width: 600px;
  height: 600px;
  flex-shrink: 0;
}

main .process .home-content {
  margin-top: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

main .process .home-content .home-item:first-child img {
  width: 600px;
  height: 600px;
  flex-shrink: 0;
}

main .process .home-content .home-item:last-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main .process .home-content .home-item:last-child p {
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  border-radius: 32px;
  background: #babab6;
  width: 171px;
  height: 29px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .process .home-content .home-item:last-child h1 {
  width: 485px;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}

main .process .home-content .home-item:last-child h4 {
  width: 520px;
  color: #65665c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

main .process .home-content .home-item:last-child .cc {
  margin: 35px 0px 35px 0px;
  display: flex;
  flex-direction: row;
  gap: 67px;
  align-items: flex-start;
}

main .process .home-content .home-item:last-child .cc .cc-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}

main .process .home-content .home-item:last-child .cc h3 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

main .process .home-content .home-item:last-child .cc h5 {
  width: 245px;
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

main .process .home-content .home-item:last-child .dd {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

main .process .home-content .home-item:last-child .dd a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 50px;
  border-radius: 6px;
  color: #000000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  transition: all 0.4s ease;
}

main .process .home-content .home-item:last-child .dd a:last-child:hover {
  color: #ffffff;
  background-color: #cf6f49;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

main .process .home-content .home-item:last-child .dd a:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
}

main .process .home-content .home-item:last-child .dd a:first-child:hover {
  transition: all 0.4s ease;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.28);
}

main .area {
  margin-top: 128px;
  padding-bottom: 60px;
  background-color: #f5f5f2;
}

main .area .area-info {
  padding-top: 128px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main .area .area-info p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #e7e8e3;
  width: 92px;
  height: 29px;
  flex-shrink: 0;
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

main .area .area-info h2 {
  text-align: center;
  width: 643px;
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}

main .area .area-content {
  display: grid;
  grid-template-columns: 405px 405px 405px;
  grid-template-rows: 460px 460px 100px;
  gap: 32px;
}

main .area .area-content .area-item {
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

main .area .area-content .area-item .fg {
  padding: 24px;
}

main .area .area-content .area-item .fg h4 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px; /* 140% */
}

main .area .area-content .area-item .fg h5 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px; /* 150% */
}

main .area .area-content .area-item .fg .jj {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  gap: 10px;
}

main .area .area-content .area-item .fg .jj img {
  width: 16px;
  height: 24px;
  margin: 0;
}

main .area .area-content .area-item .fg .jj p {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

main .area .area-content .area-item .fg .yy {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
}

main .area .area-content .area-item .fg .yy .item {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

main .area .area-content .area-item .fg .yy .item p {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

main .area .area-content .area-item .fg .yy .item img {
  width: 16px;
  height: 24px;
  margin: 0;
}

main .area .area-content .dd {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

main .area .area-content .dd a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 50px;
  border-radius: 6px;
  color: #000000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  transition: all 0.4s ease;
}

main .area .area-content .dd a:last-child:hover {
  color: #ffffff;
  background-color: #cf6f49;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

main .area .area-content .dd a:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
}

main .area .area-content .dd a:first-child:hover {
  transition: all 0.4s ease;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.28);
}

main .location {
  background-color: #f5f5f2;
}

main .location .container .area-info {
  padding-top: 128px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main .location .container .area-info p {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

main .location .container .area-info h2 {
  width: 713px;
  color: #65665c;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

main .location .container .location-content {
  display: grid;
  grid-template-columns: 416px 416px 416px;
  grid-template-rows: 130px 130px 140px;
  gap: 16px;
}

main .location .container .location-content .loc-item {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 33px;
  gap: 12px;
  width: 416px;
  height: 130px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

main .location .container .location-content .loc-item h3 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

main .location .container .location-content .loc-item p {
  color: #2a2c1f;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

main .location .container .location-content .dd {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

main .location .container .location-content .dd a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 50px;
  border-radius: 6px;
  color: #000000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  transition: all 0.4s ease;
}

main .location .container .location-content .dd a:last-child:hover {
  color: #ffffff;
  background-color: #cf6f49;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

main .location .container .location-content .dd a:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
}

main .location .container .location-content .dd a:first-child:hover {
  transition: all 0.4s ease;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.28);
}

main .family .family-box {
  border-radius: 24px;
  background: #65665c;
  width: 1280px;
  height: 465px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .family .family-box .box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .family .family-box .box-item img {
  margin-bottom: 13px;
}

main .family .family-box .box-item h1 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
  margin-bottom: 29px;
}

main .family .family-box .box-item p {
  width: 765px;
  color: #e7e8e3;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  margin-bottom: 21px;
}

main .family .family-box .box-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 137px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.38);
  transition: all 0.4s ease;
}

main .family .family-box .box-item a:hover {
  background: #ea5b22;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.28);
}

main .blog {
  margin-top: 160px;
  background: #f5f5f2;
}

main .blog .container .blog-content {
  padding-top: 132px;
}

main .blog .container .blog-content .blog-info {
  display: grid;
  place-items: center;
}

main .blog .container .blog-content .blog-info h6 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 53px;
  height: 29px;
  border-radius: 32px;
  background: #e7e8e3;
  display: grid;
  place-items: center;
}

main .blog .container .blog-content .blog-info h2 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  margin-top: 21px;
  max-width: 300px;
}

main .blog .container .blog-content .blog-info p {
  color: #65665c;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  max-width: 710px;
  margin-top: 29px;
}

main .blog .container .blog-content .blog-card {
  display: flex;
  gap: 34px;
  margin-top: 78px;
  padding-bottom: 128px;
}

main .blog .container .blog-content .blog-card .blog-item {
  border-radius: 16px;
  border: 1px solid #e7e8e3;
  background: #fff;
  min-width: 400px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

main .blog .container .blog-content .blog-card .blog-item .blog-img {
  max-width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .blog .container .blog-content .blog-card .blog-item:hover {
  box-shadow: 0px 7px 9px 4px rgba(0, 0, 0, 0.22);
  transition: 0.5s;
}

main .blog .container .blog-content .blog-card .blog-item .blog-card-text {
  padding: 32px;
}

main .blog .container .blog-content .blog-card .blog-item .blog-card-text .card-in {
  display: flex;
  gap: 16px;
  align-items: center;
}

main .blog .container .blog-content .blog-card .blog-item .blog-card-text .card-in h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #fae8e1;
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

main .blog .container .blog-content .blog-card .blog-item .blog-card-text h4 {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px;
  margin-top: 21px;
}

main .blog .container .blog-content .blog-card .blog-item .blog-card-text p {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 7px;
}

main .blog .container .blog-content .blog-card .blog-item button {
  margin-bottom: 22px;
  background: transparent;
  display: flex;
  gap: 10px;
  margin-left: 33px;
  align-items: center;
  list-style: none;
  border: none;
}

main .blog .container .blog-content .blog-card .blog-item button p:hover {
  color: #000;
  transition: 0.4s;
}

@media (max-width: 267px) {
  .home-page {
    width: 311px;
  }
  .home-page .container {
    width: 265px;
    margin: 0 auto;
  }
  .home-page .container .home-content {
    flex-direction: column;
  }
  .home-page .container .home-content .home-item:first-child {
    width: 265px;
  }
  .home-page .container .home-content .home-item:first-child h1 {
    font-size: 40px;
  }
  .home-page .container .home-content .home-item:first-child .dd {
    display: none;
  }
  .home-page .container .home-content .home-item:last-child .img1 {
    width: 297px;
    height: 261px;
  }
  .media-page {
    display: none;
  }
  .works {
    display: none;
  }
  .comfort {
    display: none;
  }
  .process {
    display: none;
  }
  .area {
    display: none;
  }
  .location {
    display: none;
  }
  .family {
    display: none;
  }
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */