@use "../base/colors" as *;
@use "../components" as *;

body {
  footer {
    margin-top: 40px;
    .container {
      .footer-content {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 95px;
        .f-right {
          display: flex;
          flex-direction: row;
          gap: 140px;
          ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
            li {
              list-style-type: none;
              a {
                color: #2a2c1f;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
              }
            }
          }
        }
        .f-sub-right {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 17px;
          h3 {
            color: #2a2c1f;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
          h4 {
            color: #65665c;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
          .ffg {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;
            .iinput {
              padding-left: 14px;
              width: 241px;
              height: 48px;
              flex-shrink: 0;
              border-radius: 6px;
              border: 1px solid #e7e8e3;
              background: #fff;
              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
              color: #65665c;
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 150% */
            }
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 150% */
              width: 127px;
              height: 50px;
              flex-shrink: 0;
              border-radius: 6px;
              border: 1px solid #cf6f49;
              background: #cf6f49;
            }
          }
          .ggff {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 10px;
            color: #65665c;
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 150% */
          }
        }
      }
    }
  }
  .bottom {
    background-color: #f5f5f2;
    padding-top: 28px;
    padding-bottom: 28px;
    .bottom-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 42px;
        .p5 {
          color: #65665c;
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px; /* 150% */
        }
      }
      .icons {
        display: flex;
        flex-direction: row;
        gap: 25px;
      }
    }
  }
}

@media (max-width: 762px) {
  body {
    footer {
      .container {
        .footer-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 50px;
          .f-left {
            text-align: center;
          }
        }
      }
    }
  }
}
@media (max-width: 511px) {
  body {
    footer {
      .container {
        .footer-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 50px;
          .f-left {
            text-align: center;
            .p1 {
              font-size: 24px;
            }
          }
          .f-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
          }
        }
      }
    }
    .bottom {
      .bottom-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
      }
    }
  }
}
