@use "../base/colors" as *;
@use "../components" as *;

body {
  footer {
    .container {
      .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .f-left {
          display: flex;
          flex-direction: column;
          gap: 30px;
          .p1 {
            color: #232536;

            /* H2 Heading */
            font-family: Poppins;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 58px; /* 120.833% */
            max-width: 452px;
          }
          .p2 {
            color: #232536;

            /* H4 Heading */
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px; /* 150% */
          }
          .addresses {
            .p3,
            .p4 {
              color: #232536;

              /* Paragraph Large */
              font-family: Poppins;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 28px; /* 155.556% */
            }
          }
        }
        .f-right {
          display: flex;
          flex-direction: row;
          gap: 50px;
          ul {
            li {
              list-style-type: none;
              a {
                color: #232536;

                /* H6 Heading */
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px; /* 175% */
                padding-top: 12px;
              }
            }
          }
        }
      }
    }
  }
  .bottom {
    background-color: #ffe6d2;
    padding-top: 28px;
    padding-bottom: 28px;
    .bottom-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 42px;
        .p5 {
          color: #000;

          /* Label/Label_Med */
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }
      }
      .icons {
        display: flex;
        flex-direction: row;
        gap: 25px;
      }
    }
  }
}

@media (max-width: 762px) {
  body {
    footer {
      .container {
        .footer-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 50px;
          .f-left {
            text-align: center;
          }
        }
      }
    }
  }
}
@media (max-width: 511px) {
  body {
    footer {
      .container {
        .footer-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 50px;
          .f-left {
            text-align: center;
            .p1 {
              font-size: 24px;
            }
          }
          .f-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
          }
        }
      }
    }
    .bottom {
      .bottom-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
      }
    }
  }
}
